html
    head
        meta(http-equiv="X-UA-Compatible", content="ie=edge") 
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/login.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&display=swap")
        title Login
    body
        div(class='container')
            h1 congregação pq.belém
            form(action="/" method="post")
                input(
                    type="text"
                    placeholder="Nome de usuário"
                    name="userName"
                    required
                )
                input(
                    type="password"
                    placeholder="Digite sua senha"
                    name="passName"
                    required
                )
                input(
                    type="submit"
                    id="submitInput"
                    value="Enviar"
                )